body{
    background-image: url('/images/ocean.jpeg');
    background-size: cover;
}

.content{
    font-size: 20px;
    margin: 5%;
}

a{
    background-color: red;
    color: white;
    font-family:  Times New Roman;
    font-style: italic;
}

ul{
    line-height: 30px;
}